.v-text-field--outlined.v-input--dense .v-label {
    font-size: 11px;
    color: #d2d2d2;
}

.box-shadow-none {
    box-shadow: none !important;
}

.w-max {
    width: 100%;
}

.h-max {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

.border4 {
    border-radius: 4px !important;
}

.border10 {
    border-radius: 10px !important;
}

.border12 {
    border-radius: 12px !important;
}

.border-50 {
    border-radius: 50% !important;
}

.lineheight {
    line-height: 2;
}

.img2 {
    position: absolute;
    left: 420px;
    aspect-ratio: 1.3;
}

.img3 {
    position: absolute;
    left: 10px;
    aspect-ratio: 1.3;
}

.img4 {
    position: absolute;
    top: 628px;
    left: 420px;
    aspect-ratio: 1.3;
}

.img5 {
    position: absolute;
    top: 628px;
    left: 10px;
    aspect-ratio: 1.3;
}

.break-keep {
    word-break: keep-all !important;
}

.height64 {
    height: 64px;
}

.height890 {
    height: 890px;
}

.height1550 {
    height: 1550px;
}

.width100 {
    width: 100px;
}

.order_card_style {
    border: 1px solid #beb4a1 !important;
    box-shadow: none !important;
}

.order_tabs_chip {
    padding: 8px !important;
    background: #40e63b !important;
    border-radius: 10px !important;
    height: 24px !important;
    width: 24px !important;
}

.customchip {
    height: 22px !important;
    width: 36px;
    border-radius: 8px !important;
    background: #e7bffc !important;
}

.custom-border {
    border: 1px solid #beb4a1 !important;
}

.custom-border2 {
    border: 2px solid #a6c17c !important;
    border-radius: 12px;
}

.primary-border {
    border: 1px solid #f27b00;
}

.gray-border {
    border: 1px solid #f2f2f2 !important;
}

.address-card {
    background-color: #e5eff9 !important;
    border: 2px solid #bcd5f2 !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}

.basket-chip {
    background: #d1b6e0 !important;
    border-radius: 10px !important;
}

.price-div {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    border: 9px solid #d8fcd8;
    border-radius: 50px;
}

.comment_div {
    background-color: #f2edf4;
    padding: 20px;
    border-radius: 16px;
    /* border: 3px solid #f1e5f6; */
}

.reply_comment_div {
    padding: 24px 10px 18px 10px;
    margin-top: 10px;
    /* background-color: #eacff4; */
    border-radius: 10px;
    border: 2px solid #eacff4;
    background-color: white;
}

.menu-item:hover {
    color: #b10bb1 !important;
}

.chip-back {
    background: #e0bcf3 !important;
}

.chip2-back {
    background: #f1ddfc !important;
}

.white-back {
    background: #ffffff !important;
}

.border-success {
    border: 1px solid #3d853a !important;
    border-radius: 8px;
}

.border-error {
    border: 1px solid #cc3535;
    border-radius: 8px;
}

.space-nowrap {
    white-space: nowrap;
}

.align-last-left {
    text-align-last: left;
}

.align-last-center {
    text-align-last: center;
}

.text-webkit-center {
    text-align: center;
    text-align: -webkit-center !important;
}

.v-slider__thumb::after {
    background: url("/image/herbal-tea.png");
    background-position: center;
    width: 32px !important;
    height: 32px !important;
}

.v-slider {
    direction: ltr !important;
}

.html-text p {
    overflow-wrap: break-word;
}

.v-btn {
    min-width: 50px !important;
}

.justify-left {
    justify-content: left;
}

.amp-lable_text,
.v-select__selections {
    font-size: 14px;
}